<div class="header">
  <div class="header__logo">
    <h2>Urku</h2>
  </div>
  <div class="header__tabs">
    <ul class="tabs">
      <li routerLink="" routerLinkActive="active" class="tabs__option especie">Especie</li>
      <li routerLink="clasificacion" routerLinkActive="active" class="tabs__option clasificacion">Clasificacion</li>
      <li routerLink="genero" routerLinkActive="active" class="tabs__option genero">Genero</li>
      <li routerLink="rescatista" routerLinkActive="active" class="tabs__option rescatista">Rescatista</li>
    </ul>
  </div>
</div>
