.grid-table-colm {
  width: 100%;
  display: grid;
  grid-template-columns: 50px calc(25% - 50px) 10% 10% 10% 20% 10% 15%;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.table .table_body .tb,
.table .table_header .th {
  box-sizing: border-box;
  padding: 13px 10px;
  overflow: hidden;
}

.table .table_body .tb span,
.table .table_header .th span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 14px;
  -webkit-line-clamp: 1;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--secundary-color_gray);
}

.table .table_body .tb span {
  font-weight: 500;
  text-align: center;
  color: var(--secundary-color_grayclaro);
}

.opciones {
  font-size: 12px;
  background-color: var(--primary-color);
  border: 1px solid var(--secundary-color);
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
  font-weight: bolder;
  cursor: pointer;
  margin-left: 5px;
}
